:root {
  --bg: rgb(245, 245, 245);
}

body {
  padding: 32px;
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: var(--bg);
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
} */

h1 {
  margin: 32px;
}

/* set both chart containers properties */
/* D3 version */
#chart,
/* React version */
#root .chart {
  position: relative;
  width: 100%;
}

/* set both svg elements properties */
/* D3 version */
#chart > svg,
/* React version */
#root .chart > svg {
  position: relative;
  width: 100%;
}

.dataset-value {
  color: #4499ff;
  font-size: 1.2em;
  font-weight: 500;
}

.debug {
  font-size: 0.9em;
  padding: 4px 6px;
  color: white !important;
  background-color: red;
}
