body {
  padding: 32px;
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }
}
/* 
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
}
 */
h1 {
  margin: 32px;
}

/* set both chart containers properties */
/* D3 version */
#chart,
/* React version */
#root .chart {
  position: relative;
  width: 100%;
}

/* set both svg elements properties */
#chart > svg,
/* React version */
#root .chart > svg {
  position: relative;
  width: 100%;
}
