body {
  padding: 32px;
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: rgb(245, 245, 245);
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
} */

h1 {
  margin: 32px;
}

svg {
  border: 1px solid black;
}

svg > g {
  border: 1px solid gray;
}

/* set both chart containers properties */
/* D3 version */
#chart,
/* React version */
#root .chart {
  position: relative;
  width: 100%;
}

/* set both svg elements properties */
/* D3 version */
#chart > svg,
/* React version */
#root .chart > svg {
  position: relative;
  width: 100%;
}

.debug {
  font-size: 0.9em;
  padding: 4px 6px;
  color: white !important;
  background-color: red;
}
